.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:20px;
  border-top:1px solid #eaeaea
}

.mainInfo{
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  text-align: center;

}

.mainInfo span{
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.795);
  font-size: .9rem;
}


@media (max-width: 600px) {
  .main {
    padding:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    


  }

}
